.footer-powered-by-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer-powered-by {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem 0;
}

.powered-by-text {
  font-size: 0.55rem;
  color: #aaa;
  margin-bottom: 0.5rem;
}

.powered-by-logo {
  max-height: 50px;
  height: 48px;
  width: 75px;
  display: block;
}

