.powered-by {
  text-align: center;
  margin-top: 2rem;

  p {
    font-size: 0.75rem;
    color: #ccc;
    margin-bottom: 0.25rem;
  }

  img {
    max-height: 60px;       
    height: auto;
    width: auto;
    opacity: 1;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05); 
    }
  }
}


